<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">生活就像海洋, 只有意志坚强的人才能到达彼岸.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/school-thumbnail.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2020</h4>
                                    <h4 class="subheading">黑龙江民族职业学院</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">我现在就读于 黑龙江民族职业学院 教育学专业</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/next-school-thumbnail.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Next</h4>
                                    <h4 class="subheading">哈尔滨师范大学</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">给我自己定了个小目标: 专升本, 去哈师大</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>To Be<br>Continued!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>